.flex {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.8;
}

.my-2 {
  margin: 1.5rem 0;
}

ul {
  list-style-type: none;
}

footer {
  background-color: var(--dark-blue-3);
  padding: 200px 0 50px 0;
  overflow: hidden;
}
.footer-content {
  display: grid;
  grid-template-areas: "address contact footer-nav-1 footer-nav-2 social-links";
  gap: 30px;
  place-items: flex-start;
  padding-bottom: 50px;
  font-family: "Poppins", sans-serif;
  font-family: "Raleway", sans-serif;
}

.address {
  display: flex;
  align-items: flex-start;
  grid-area: address;
  max-width: 320px;
}
.address img {
  display: inline-block;
  margin: 15px 15px 0 0;
}

.address p {
  line-height: 1.2rem;
  font-size: 0.9rem;
}
.contact-info {
  grid-area: contact;
}
.contact-info .flex img {
  margin-right: 20px;
}
.contact-info .flex:last-child {
  margin-left: 15px;
}
.footer-nav-line-1 {
  grid-area: footer-nav-1;
}
.footer-nav-line-2 {
  grid-area: footer-nav-2;
}

.container {
  margin-top: -4rem;
}
