:root {
  --dark-blue-1: hsl(217, 28%, 15%);
  --dark-blue-2: hsl(218, 28%, 13%);
  --dark-blue-3: hsl(216, 53%, 9%);
  --dark-blue-4: hsl(219, 30%, 18%);
  --cyan: hsl(176, 68%, 64%);
  --blue: hsl(198, 60%, 50%);
  --white: hsl(170, 80%, 97%);
  --red: hsl(0, 87%, 67%);
}
