.test {
  background-color: var(--dark-blue-2);
  padding: 5rem 0;
}

.product__section {
  display: flex;
  gap: 5rem;
  max-width: 1000px;
  margin: 0 auto;
  background-color: var(--dark-blue-2);
}

.fylo__product-img img {
  width: 450px;
}

.fylo__product-content {
  width: 450px;
  margin-top: 3.5rem;
}

.fylo__product-content h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.6rem;
  width: 300px;
  line-height: 1.5;
  font-family: "Raleway", sans-serif;
}

.fylo__product-content p {
  padding: 0.8rem 0.1rem;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
  font-weight: 300;
}

.fylo__product-content a {
  display: inline-block;
  font-size: 15px;
  border-bottom: 2px solid var(--cyan);
  color: var(--cyan);
  padding-bottom: 5px;
  margin-top: 10px;
  font-family: "Raleway", sans-serif;
}
.fylo__product-content a i {
  font-size: 15px;
}
.fylo__product-content a:hover {
  border-bottom: none;
  transition: all 0.3s ease-in-out;
}
